<footer class="py-4 bg-[#1E1730] text-white fixed bottom-0 w-full">
    <div class="max-w-7xl mx-auto px-4 flex items-center justify-between">
      <p class="text-lg md:text-l">
        &copy; Quizz Website by Gustavo Martins
      </p>
      <div class="flex space-x-4 ml-auto">
        <a
          href="https://www.linkedin.com/in/g2martins/"
          class="hover:text-[#ec6d1c]"
          aria-label="LinkedIn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a
          href="https://github.com/G2Martins"
          class="hover:text-[#ec6d1c]"
          aria-label="GitHub"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-github fa-lg"></i>
        </a>
      </div>
    </div>
  </footer>
  